/*CSS for boldItalicUnderline*/
body div .txtUnderline {
    text-decoration: underline;         
}
body {
    background-color:rgb(0,133,161);    
}
body .fontStyle { 
    text-align:center;
    background-color:rgb(150,212,212);
    margin-top:80px;
    font-size: 40px;
    margin-left: 400px;
    margin-right: 400px;
            
}

/*CSS for browseForm*/
    .browseTable{
        margin-top: 56px;
        margin-bottom: 56px;
        margin-left: 500px;
        margin-right: 500px;
        text-align: left;
        background-color:rgb(177,217,231);
        height: 40%;
        width: 40%;
        border: 3px solid black;
       padding-left: 20px;
       border-collapse: collapse; 
    }
    button{
        background-color: rgb(69,225,209);
    }
    #myfile{
        background-color: darkgray;
    }







