body{
    background-color:cadetblue;
}
form{
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color:darkgray;
    color:black ;
    /* background-image: url(krishna.jpg); */
    border: 3px solid black;

}