* {
    box-sizing:border-box;
}

/*add padding to containers*/
body{
    width:100%;
    height:100vh;
    background-color: rbg(245,241,248);
    position:relative;
}
.container{
    background-color: rgb(251, 119, 200);
    width:500px;
    position:absolute;
    left:35%;
    padding:10px;
    top:10%;
    border-radius:10px;
}
/* Full-width input fields */

input[type=text],
input[type=phone],
input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=phone]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit button */

.regbtn {
    background-color: #04AA6D;
    color: white;
    margin: 8px 0;
    padding: 6px 8px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.regbtn:hover {
    opacity: 1;
}


/* Add a blue text color to links */

a {
    color: dodgerblue;
}


