.bgimage {
    height:100vh;
    background: url('images/images.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
ul {
    list-style-type: none;
 }
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(9, 66, 126);
}
.logo
{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff044f;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;

}
#child{
    width: 45%;
    height: min-content;
    float: left;
    align-items: center;
    padding: 2%;
 
}

#about{
    margin: 5%;
    width: 100%;
}

#services{
    margin: 5%;
    padding: 2%;
    width: 100%;
}
#portfolio{
    margin: 5%;
    padding: 2%;
    width: 60%;
    margin-top: 250px;
    align-items: center;
}
#contact{
    margin: 5%;
    padding: 2%;
    width: 100%;
}

.child1{
    width: 200px;
    height: min-content;
    float: left;
    align-items: center;
 
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #b1f5b0;
}
.row{
    align-items: center;
}
.text-center{
    align-items: center;
}
#card-body1{
    background-color: rgb(82, 139, 157);
    margin: 3px;
   
}
#card-body2{
    background-color: rgb(206, 99, 99);
    margin: 3px;
 
}
#card-body3{
    background-color: rgb(61, 173, 153);
    margin: 3px;
    
}
#card-body4{
    background-color: rgb(172, 201, 137);
    margin: 3px;
 
}
#card-body5{
    background-color: rgb(203, 153, 76);
   margin: 3px;
}
#gap{
    height: 25px;
}
#gap1{
    height: 100px;
}
.navbarScroll.navbarDark {
    background-color: black;
}
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}

#footer {
    background-color: #1a28a3;
    text-align: center;
}
#form{
    align-items: center;
    border-radius: 8px;
    border-color: #008000;
    border-style: bold;
}
table{
    align-self: center;
}
a{
    padding-left: 1%;
    padding-right: 1%;
}