#heading{
    color:brown;
}
#para{
    font-weight: bold;
}
div{
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blueviolet;
}
  
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}