*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
hr{
    margin-top: 50px;
}
.FormRegistration
{
    border: 1px solid;
    width: 450px;
    margin: 0 auto;
    margin-top: 25px;
}
h2{
    text-align: center;
    
}
.bForm{
    border: 1px solid; 
    width: 490px;
    margin: 0 auto;
    margin-top:  25px; 
    padding: 15px;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }
.Frameset{
    text-align: center;
    font-size:large;
}
#PageOne
{
    font-weight: 500;
    color:white;
    text-align:center;
    margin-top: 50px;
}
#PageOneBody
{
    background-color: red;
}
.PageTwoBody{
    background-color: orange;
    text-align: center;
}
#PageTwo{
    font-weight: 500;
    color:white;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 25%;
}
.Tab{
    border: 1px solid;
     width:450px;
     margin: 0 auto;
     margin-top:  25px; 
     padding: 15px;
}
.TabMain{
    width:350px;
    border-collapse: collapse;
    box-sizing: border-box;
}
#aFrame{
    text-align: center;font-size:large;
}
#FourthFrame{
    background-color: #f0c0a0 ;
    font-weight: 500;
}

   
.redpage{
      background-color: red;  
}
.redpage h1{
    animation:blinking 1.5s infinite;
    text-align: center;
    font-size: 50px;
}
@keyframes blinking{
    0%{   color: rgb(125, 14, 14);   }
    47%{   color: #000; }
    62%{   color: transparent; }
    97%{   color:transparent; }
    100%{  color: #000;   }
}
.redpage p{
font-size: 25px;
text-align: center;
}
.linkContainer{
    margin: 0 40%;

}
.TextTypes{
    margin: 0 auto;
    width: 450px;
    text-align: center;
    font-size: 25px;
}