
.-clone {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  
  
  .-slice {
    -webkit-box-decoration-break: slice;
    box-decoration-break: slice;
  }
  
  .text {
    font-size: 16px;
    line-height: 2em;
    background-image: linear-gradient(-144deg, #54b4b7 0%, #33a5b9 100%);
    border-radius: 4px;
    padding: 4px 18px;
    box-sizing: border-box;
  }
  
  .wrap {
    max-width: 320px;
    margin: 1em auto;
  }