body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
   }
   h1{
    text-align: center;
   }
   .box
   {
    margin:150px 350px;
    color: white;
   }
   table{
    width: 600px;
    color: black;
   }
   table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
   
   }
   th{