
#traffic-signal{ 
    border: 6px solid black; 
    background-color: black;
    padding: 10px 3px; 
    width: 50px; 
    border-radius: 50px; 
} 
#traffic-signal > div{ 
    width:50px; 
    height: 50px; 
    border-radius: 50%; 
    opacity: .2; 
} 
#line1{ 
    height:200px; 
    width:10px; 
    background:#000; 
    margin-left:30px; 
} 
#line2{ 
    height:10px; 
    width:70px; 
    background:#000; 
} 
#green{ 
    background-color: green; 
} 
#yellow{ 
    background-color: yellow; 
} 
#red{ 
    background-color: red; 
}