*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, sans-serif;
    font-weight: normal;
  }

  body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #33ccff, #00ff99);
  }
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }