.toprow{
    background-color: #D36B00;
    font-weight:600;
}
#SecondFrame{
    background-color: #e09d71;
    font-weight:600;
}
.ThirdFrame{
    background-color: #e09d71;
    font-weight:600;
}
#ThirdFraneMain{
    height:100%;
    width:100%;
    border:none;
    overflow:hidden;
}
#FourthFrame{
    background-color: #f0c0a0 ;
    font-weight: 500;
}
#FifthFrameh
{
animation:blinking 1.5s infinite;
font-size: 20px;
text-align: center;
margin-top: 150px;
}
        
        @keyframes blinking{
            0%{   color: red;   }
            47%{   color: #000; }
            62%{   color: transparent; }
            97%{   color:transparent; }
            100%{  color: #000;   }
        }
.FifthFrameBody{
    background-color: #f0c0a0;
    font-weight: 500;
}
#SixthFrameBody{
    background-color: #e09d71;font-weight:600;
}
#SixthFrameMain{
    width:100%;height: 100%;
}