html{
    background: linear-gradient(#08f,#fff);
    padding: 40px;
    width:170px;
    height: 100%;
    margin: 0 auto;

}
#trafficsignal{
    background: #111;
    background-image:  linear-gradient(transparent 3%,#111 30%);
    width: 170px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    border:5px solid #333;
}
#trafficsignal:before{
    content:"";
    background-color: black;
    width: 170px;
    height: 150px;
    position: absolute;
    top: -20px;
    border-radius: 100%;
    z-index: -1;
}
#trafficsignal:after{
    background: #222;
    content: "";
    background-image: linear-gradient(-90deg,#222 0%,#444 30%,#000);
    width: 50px;
    height: 500px;
    margin-left: 60px;
    position: absolute;
    top:150px;
    z-index: -1;
}
#protector{
    background: transparent;
    width: 180px;
    height:0px;
    position: absolute;;
    top:70px;
    left:653px;
    border-right:30px solid transparent ;
    border-left: 30px solid transparent;
    border-top: 90px solid #111;
    border-radius: 10px;
    z-index:-1;

}
#protector:nth-child(4){
    top:310px;
}
#protector:nth-child(3){
    top:190px;
}
#red{
    background: red;
    background-image: radial-gradient(brown,transparent);
    background-size: 5px 5px;
    width: 100px;
    height:100px;
    border-radius: 100%;
    position: absolute;
    top: 65px;
    left: 720px;
    border:2px dotted red;
    box-shadow:0 0 20px #111,0 0 10px red;
    animation:red 15s infinite;
  

}
#yellow{
    background: yellow;
    background-image: radial-gradient(orange,transparent);
    background-size: 5px 5px;
    width: 100px;
    height:100px;
    border-radius: 100%;
    position: absolute;
    top: 190px;
    left:720px;
    border:2px dotted yellow;
    box-shadow:0 0 20px #111,0 0 10px yellow;
    animation:yellow 15s infinite;
    

}

#green{
    background: green;
    background-image: radial-gradient(lime,transparent);
    background-size: 5px 5px;
    width: 100px;
    height:100px;
    border-radius: 100%;
    position: absolute;
    top: 315px;
    left: 720px;
    border:2px dotted green;
    box-shadow:0 0 20px #111,0 0 10px green;
    animation:green 15s infinite;
    
}
@keyframes red{
    0%{opacity: 1;}
    20%{opacity: 1;}
    40%{opacity: .1;}
    60%{opacity: .1;}
    80%{opacity: .1;}
    100%{opacity: .1;}
}
@keyframes yellow{
    0%{opacity: .1;}
    20%{opacity: .1;}
    40%{opacity: 1;}
    60%{opacity: .1;}
    80%{opacity: .1;}
    100%{opacity: .1;}
}
@keyframes green{
    0%{opacity: .1;}
    20%{opacity: .1;}
    40%{opacity: .1;}
    60%{opacity: 1;}
    80%{opacity: 1;}
    83%{opacity: 1;}
    86%{opacity: .1;}
    89%{opacity: 1;}
    93%{opacity: .1;}
    96%{opacity: 1;}
    100%{opacity: .1;}
}
p{
    font-size:50px;
    color:darkblue;
}
#pred{
    color:red;
    position: absolute;
    left: 950px;
    top: 25px;
    animation:red 15s infinite;

}
#pyellow{
    color:yellow;
    position: absolute;
    left: 950px;
    top: 155px;
    animation:yellow 15s infinite;

}
#pgreen{
    color:green;
    position: absolute;
    left: 950px;
    top: 295px;
    animation:green 15s infinite;

}