.marg{
	background-color:#D3D3D3;
	border:1px solid black;
	width:500px;
	margin:auto;
	margin-top:50px;
	padding-top:30px;
	padding-bottom:30px;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
.button {
  transition-duration: 0.4s;
  background-color:red;
  color:white;
  cursor: pointer;
  border-radius:12px;
   border:2px solid;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
button:hover{
	background-color:white;
	color:red;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
