#styl{
 font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#styl td, #styl th{
border: 1px solid #ddd;
  padding: 8px;
}
#styl tr:nth-child(even){background-color: #f2f2f2;}
#styl tr:hover {background-color: #ddd;}

#styl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
.center{
margin-left:auto;
margin-right:auto;
}