#red
{
    width: 5cm;
    height: 4cm;
    border: 1cm;
    background-color:rgb(255, 255, 255);
}
#yellow
{ 
    width: 5cm;
    height: 4cm;
    border: 1cm;
    background-color: rgb(255, 255, 255);
}
#green
{
    width: 5cm;
    height: 4cm;
    border: 1cm;
    background-color: rgb(255, 255, 255);
}
#trn
{
    width: 2cm;
    height:2cm;
    border: 2cm;
    background-color: rgb(10, 10, 10);
}
#on
{
    width: 100%;
    height: 50%;
}
#off
{
    width: 100%;
    height: 50%;
}