<div class="container">

  <div class="row">
    <div class="col-md-6 pt-5 mt-5">
     
     <h1 class="">Student Information <br> System</h1>
      <a href="/loginselect"><button type="button" class="btn login-bt rounded-pill btn-outline-success mt-5">Login</button></a>
    </div>
    <div class="col-md-6">
      <img src="/images/iso.png" class="img-fluid" alt="...">
</div>
  </div>
  
</div>



