<div class="container  shadow mt-5 p-5">
    <div class="row">
        <div class="col">
         <a href="/login/student"><button class="btn btn-primary">Student</button></a>
        </div>
         <div class="col">
               <a href="/login/teacher"><button class="btn btn-primary">Teacher</button></a>
         </div>
          <div class="col">
<a href="/login/admin"><button class="btn btn-primary">Admin</button></a>  
          </div>
    </div>
</div>