<div class="container  shadow mt-5 p-5 ">
     <div class="p-1"><a href="/addmark"><button class="btn btn-primary">Add marks</button></a></div>
     <br>
    <div class="p-1"><a href="/attendance"><button class="btn btn-primary">Mark attendence</button></a></div>

</div>