<html>

<head>

  <style>
    .table {
      border-radius: 50;

    }

    body {
      background-color: hsl(347, 54%, 60%);
    }

    button {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
    }
  </style>
</head>

<body>
  <form action="/attendance" method="POST">
    <div>

      <table id="sample_data" class="table" name="example" border=1>
        <thead>


          <th scope="col">Name</th>
          <th scope="col">Register No</th>
          <th scope="col" id="date">
            <p id="date"></p>
          </th>
          {{#data}}
          <tr>


            <td>{{this.name}}</td>
            <td>{{this.regno}}</td>
            <td>
              <div id="">
                <input type="radio" name="{{this.regno}}" value="1" checked>P
                <input type="radio" name="{{this.regno}}" value="0">A
            </td>
    </div>



    </tr>
    {{/data}}
    </thead>

    <tr>
      <td colspan=7>
        <center><button type="submit" id="btn">Submit</button>&emsp;&emsp;<a href="/form" style="color:black">back</a>
      </td>
    </tr>




    </table>

  </form>

</body>

<script>
  document.getElementById("date").innerHTML = Date();





</script>

</html>