<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        display:flex;
        flex-direction: column;
        margin:2px;
        background-color:bisque;
    }
    .menu a{
        font-size 15px;
        font-weight: bolder;
        color:crimson;
        display:grid;
        text-align: center;
    }
    
</style>
<body>
    <h1><center><u>STUDENT MANAGEMENT SYSTEM</u></center></h1>
    <div class="menu">
        <h1 style="color:blueviolet"><center>MENU'S</center></h1>
        <a href="/add">ADD STUDENT</a><br>
        <a href="/search">SEARCH STUDENT</a><br>
        <a href="/update">UPDATE STUDENT</a><br>
        <a href="/delete">DELETE STUDENT</a><br>
        <a href="/view">VIEW STUDENT</a><br>
        <a href="/attendance">ATTENDANCE</a><br>
    </div>
</body>
</html>